/* Menú */

#textosMenu{
    text-decoration: none;
    color: white;
}

.menu{
    border-radius: 10px 0px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    padding: 2px 10px;
    cursor: pointer;
}

.menu:hover{
    background: #490099;
    color: #FFF;
}

/* Redes Sociales */

#imagenRedes{
    width: 65px;
}

.redesSociales .icon{
    position: relative;
    background: rgba(128, 128, 128, 0.123);
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
  
.redesSociales .tooltip{
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #1877F2;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
  
.redesSociales .tooltip::before{
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #1877F2;
    top: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
  
.redesSociales .icon:hover .tooltip{
    top: 60px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
  
.redesSociales .icon:hover span, .redesSociales .icon:hover .tooltip{
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
  
.redesSociales .github:hover, .redesSociales .github:hover .tooltip, .redesSociales .github:hover .tooltip::before,
.redesSociales .linkedin:hover, .redesSociales .linkedin:hover .tooltip, .redesSociales .linkedin:hover .tooltip::before,
.redesSociales .instagram:hover, .redesSociales .instagram:hover .tooltip, .redesSociales .instagram:hover .tooltip::before,
.redesSociales .curriculum:hover, .redesSociales .curriculum:hover .tooltip, .redesSociales .curriculum:hover .tooltip::before{
    /* background: #1877F2; */
    color: white;
}

/* Botones Proyectos */

#btnUno{
    height: 41px;
    width: 116px;
    border: none;
    border-radius: 5px;
    background: none;
    border-color: rgb(0, 0, 102);
    color: white;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);

    position: relative;
    transition:800ms ease all;
    outline:none;
}

#btnDos{
    height: 41px;
    width: 116px;
    border: none;
    border-radius: 5px;
    background: rgb(0, 0, 102);
    color: white;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);

    position: relative;
    transition:800ms ease all;
    outline:none;
}

#btnUno:hover, #btnDos:hover{
    background:#fff;
    color:rgb(0, 0, 102);
}

#btnUno:before,#btnUno:after, #btnDos:before,#btnDos:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: rgb(0, 0, 102);
    transition:800ms;
}

#btnUno:after, #btnDos:after{
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

#btnUno:hover:before, #btnUno:hover:after, #btnDos:hover:before, #btnDos:hover:after{
    width: 100%;
    transition: 800ms ease all;
}

/* Botón Contacto */

#btnTres{
    height: 41px;
    width: 200px;
    border: none;
    border-radius: 5px;
    background: rgb(0, 0, 102);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.opacidad{
    opacity: 50%;
}

/* Alerta Error */

.alerta{
    background-color: red;
    color: white;
    text-align: left;
    font-weight: bold;
}

/* Alerta Envio */

.alerta2{
    background-color: green;
    color: white;
    text-align: left;
    font-weight: bold;
}

/* Spinner */

#spinner {
    margin: 0px 0px 0px 30px;
    width: 70px;
    text-align: center;
}
  
#spinner > div{
    width: 18px;
    height: 18px;
    background-color: #00ff55;
  
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
  
#spinner .bounce1{
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
  
#spinner .bounce2{
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
  
@-webkit-keyframes sk-bouncedelay{
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}
  
@keyframes sk-bouncedelay{
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
}



/* Responsive */

@media screen and (max-width:767px){
    /* Redes Sociales */
    
    #imagenRedes{
        width: 45px;
    }

    .redesSociales .icon{
        width: 35px;
        height: 35px;
        font-size: 14px;
    }

    .redesSociales .icon:hover .tooltip{
        top: 45px;
    }

    /* .redesSociales .icon:hover .tooltip{
        display: none;
    } */

}