*{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
}

body{
    background: #D8E2DC;
    font-family: "Lato", sans-serif;
}

/* Sección Menú */

header{
    padding: 0px 100px;
    background: #A4C3B2;
    color: white;
}

.logoPersonal{
    width: 100px;
    filter: brightness(0%);
}

h1{
    font-size: 1.5rem;
}

/* Sección Título */

.secTitulo{
    padding: 20px 100px;
    background: #A4C3B2;
    color: white;
}

.tituloRedes{
    padding: 30px 0px;
}

h2{
    font-size: 2.5rem;
    text-align: justify;
    line-height: 3rem;
}

h3{
    font-size: 1.5rem;
}

#fotoPerfil{
    width: 300px;
    border-radius: 100%;
    filter: sepia(100%) grayscale(100%);
}

/* Sección Sobre Mi */

#sobreMi{
    padding: 50px 350px 50px 100px;
}

h4{
    font-size: 1.6rem;
    font-weight: bold;
}

.biografia{
    text-align: justify;
    margin-top: 10px;
}

/* Secciones Habilidades y Pasatiempos */

#skills{
    padding: 50px 100px 25px 100px;
    background: #A4C3B2;
    color: white;
}

#hobbies{
    padding: 25px 100px 50px 100px;
    background: #A4C3B2;
    color: white;
}

.contenedorSkillsIMG, .contenedorHobbiesIMG{
    height: 176px;
    width: 176px;
    background: white;
    text-align: left;
    padding: 10px;
    border: solid 1px gray;
    color: #000000;
}

#imagenSkills, #imagenHobbies{
    width: 50px;
}

/* Sección Formaciones */

#formaciones{
    padding: 50px 100px;
}

.FormacionesIMG{
    font-size: 1rem;
}

.prueba{
    height: 300px;
    width: 200px;
}

.contenedorFormacionesIMG{
    height: 200px;
    width: 100%;
    background: white;
}

#imgenFormaciones{
    width: 100px;
}

.textoUnoFormaciones{
    font-weight: bold;
    text-align: left;
}

.textoDosFormaciones{
    font-size: 0.9rem;
    text-align: left;
    font-style: italic;
}

/* Sección Proyectos */

#proyectos{
    padding: 50px 100px;
    background: #A4C3B2;
    color: white;
}

#imagenJuego, #imagenEncriptador{
    width: 752px;
}

.contenedorTextosUno{
    text-align: left;
}

.contenedorTextosDos{
    text-align: right;
}

#textoUnoProyectos{
    font-weight: bold;
}

#textoDosProyectos{
    font-size: 0.9rem;
    font-style: italic;
}

/* Sección Contacto */

#contacto{
    padding: 50px 100px;
}

#imagenTelefono{
    width: 464px;
}

.datosDos{
    height: 100%;
    width: 100%;
}

input{
    height: 41px;
    align-content: end;
    border: none;
    outline: none;
}

textarea{
    resize: none;
    border: none;
    outline: none;
}

/* Sección Footer */

.desarrollador{
    padding: 20px 100px;
    background: #A4C3B2;
    color: white;
    font-weight: bold;
}


/* Responsive */
/* Mobile */

@media screen and (max-width:767px){
    *{
        font-size: 14px;
    }

    header, .secTitulo, .tituloRedes, #skills, #hobbies, #formaciones, #proyectos, #contacto, .desarrollador{
        padding: 20px;
    }

   /* Sección Menú */
    
    .logoPersonal{
        width: 80px;
    }

    /* Sección Título */

    #fotoPerfil{
        width: 150px;
    }

    h2{
        font-size: 22px;
        text-align: center;
        line-height: 1.5rem;
    }

    h3{
        font-size: 14px;
        text-align: center;
    }
    /* Sección Sobre Mi */

    #sobreMi{
        padding: 30px 10px;
    }

    h4{
        font-size: 22px;
    }

    /* Secciones Habilidades y Pasatiempos */

    .contenedorSkillsIMG, .contenedorHobbiesIMG{
        height: 136px;
        width: 140px;
        font-size: 16px;
    }

    #imagenSkills, #imagenHobbies{
        width: 40px;
    }

    /* Sección Formaciones */

    .prueba{
        height: auto;
        width: auto;
    }

    #imgenFormaciones{
        width: 90px;
    }

    /* Sección Proyectos */

    #imagenJuego, #imagenEncriptador{
        width: 100%;
    }

    .contenedorTextosUno, .contenedorTextosDos{
        width: 100%;
        text-align: left;
    }

    /* Sección Contacto */

    .formDiv{
        height: auto;
    }

}

/* Tablet */

@media screen and (min-width:767px) and (max-width:1023px){

    *{
        font-size: 14px;
    }

    header, .secTitulo{
        padding: 10px 50px;
    }

    #sobreMi, #skills, #hobbies, #formaciones, #proyectos, #contacto, .desarrollador{
        padding: 50px;
    }

    /* Sección Título */

    #fotoPerfil{
        width: 150px;
    }

    h2{
        font-size: 22px;
        line-height: 1.5rem;
    }

    h3{
        font-size: 14px;
    }

    /* Sección Sobre Mi */

    h4{
        font-size: 22px;
    }

    /* Secciones Habilidades y Pasatiempos */

    .contenedorSkillsIMG, .contenedorHobbiesIMG{
        height: 170px;
        width: 180px;
        font-size: 16px;
    }

    /* Sección Formaciones */

    #imgenFormaciones{
        width: 90px;
    }

    /* Sección Proyectos */

    #imagenJuego, #imagenEncriptador{
        width: 100%;
    }

    .contenedorTextosUno, .contenedorTextosDos{
        width: 100%;
        text-align: left;
    }

    /* Sección Contacto */

    .formDiv{
        height: auto;
    }

    .contactoDatos{
        width: 100%;
    }

}