/* Sección Menú */

.secHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.encabezado{
    display: flex;
    align-items: center;
    gap: 20px;
}

.menuLista{
    display: flex;
    gap: 10px;
}

/* Sección Título */

.secTitulo{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.tituloRedes{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.descripcion{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.redesSociales{
    display: flex;
    align-items: center;
    gap: 30px;
}

.redesSociales .icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Secciones Habilidades y Pasatiempos */

#skills, #hobbies{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.skillsIMG, .hobbiesIMG{
    display: flex;
    justify-content: space-between;
}

.contenedorSkillsIMG, .contenedorHobbiesIMG{
    display: flex;
    flex-direction: column;
    justify-content: end;
}

/* Sección Formaciones */

#formaciones{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.FormacionesIMG{
    display: flex;
    justify-content: space-between;
}

.contenedorFormacionesIMG{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Sección Proyectos */

#proyectos{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.proyectosIMG{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.proyectoJuego{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.proyectoEncriptador{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 20px;
}

#imagenJuego, #imagenEncriptador{
    display: flex;
}

/* Sección Contacto */

#contacto{
    display: flex;
    justify-content: space-around;
    row-gap: 15px;
}

.contactoDatos{
    display: flex;
    flex-flow: column;
    gap: 15px;
}

.datosUno{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.datosDos, .formDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Sección Footer */

.desarrollador{
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 10px;
}



/* Responsive */
/* Mobile */

@media screen and (max-width:767px){
    /* Sección Menú */

    h1, .menuLista li:nth-child(-n+5){
        display: none;
    }

    /* Sección Título */

    .secTitulo{
        flex-direction: column-reverse;
        align-items: center;
        gap: 0px;
    }

    .redesSociales{
        justify-content: space-evenly;
        gap: 0px;
    }

    /* Secciones Habilidades y Pasatiempos */

    .skillsIMG, .hobbiesIMG{
        flex-flow: row wrap;
        justify-content: center;
        gap: 10px;
    }

    /* Sección Formaciones */

    #formaciones{
        gap: 20px;
    }

    .FormacionesIMG{
        flex-direction: column;
        gap: 20px;
    }

    /* Sección Proyectos */

    .proyectosIMG{
        gap: 20px;
    }

    .proyectoJuego, .proyectoEncriptador{
        flex-direction: column;
        align-items: left;
        gap: 10px;
    }

    /* Sección Contacto */

    #imagenTelefono{
        display: none;
    }

    .datosUno, .datosDos{
        gap: 10px;
    }

}

/* Tablet */

@media screen and (min-width:767px) and (max-width:1023px){
    
    /* Sección Menú */

    h1, .menuLista li:nth-child(-n+5){
        display: none;
    }

     /* Sección Título */

     .secTitulo{
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }

    .redesSociales{
        gap: 10px;
    }

    /* Secciones Habilidades y Pasatiempos */

    .skillsIMG, .hobbiesIMG{
        flex-flow: row wrap;
        justify-content: center;
        gap: 20px;
    }

    /* Sección Formaciones */

    .FormacionesIMG{
        flex-flow: row wrap;
        justify-content: center;
        gap: 20px;
    }

    /* Sección Proyectos */

    .proyectosIMG{
        gap: 20px;
    }

    .proyectoJuego, .proyectoEncriptador{
        flex-direction: column;
        align-items: left;
        gap: 10px;
    }

    /* Sección Contacto */

    #imagenTelefono{
        display: none;
    }

    .datosUno, .datosDos{
        gap: 10px;
    }

} 